body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #007bff;
    color: #fff;
    padding: 20px;
    margin: 0;
}

form {
    background: #fff;
    padding: 20px;
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

#carList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}
#carList img {
    display: block;
    margin: auto;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#carList div {
    background: white;
    padding: 15px;
    margin: 10px;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

p {
    font-size: 16px;
    color: #555;
}

a {
    text-decoration: none;
    color: #007bff;
}

a:hover {
    text-decoration: underline;
}